.ant-form{
    display: flex;
    gap: 32px;
    align-items: flex-end;
}
.ant-form, .ant-form * {
    font-family: inherit;
}
.ant-form-vertical .ant-form-item-label >label{
    font-size: 16px;
}
.ant-message span{
    color: var(--color-bg);
}
@media (max-width: 991px) {
    .ant-form{
        display: block;
    }
    .formBlock .ant-input{
        width: 100%;
    }

}