
.wrapper{
  background: rgba(0, 0, 0, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;

}
.nav{
  display: flex;
  align-items: center;
  max-width: 1440px;
  padding: 16px 56px;
  column-gap: 48px;
  justify-content: space-between;
}

.chapters{
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.chapter{
  color: var(--color-text);
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: .38s ease-in-out;
  cursor: pointer;
}
.chapter:hover{
  border-color: #FFFFFF;
}
.contactInfo{
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.phones{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.phone{
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  transition: .38s ease-in-out;
}
.phone:hover{
  color: var(--color-primary);
}
.regions{
  width: 230px;
}
.regionSelect{
  position: relative;
}
.prefixIcon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
.checkIcon{
  width: 30px;
  height: 30px;
  color: var(--color-text);
  transition: .38s ease-in-out;
}
.checkIcon:hover{
  color: var(--color-primary);
}
.content{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.drawer{
  display: none;
}

@media (max-width: 1250px){
  .content{
    display: none;
  }
  .nav{
    justify-content: space-between;
    width: 100%;
  }
  .drawer{
    display: block;
  }
  .drawerChapters{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 30px;
  }
  .contactInfoDrawer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 768px){
  .nav{
    padding: 16px;
  }
}
