.whiteWrapper{
  background: #ffffff;
  width: 100%;
  padding: 120px 0;
}
.advantagesWrapper{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  position: relative;
}
.advantages{
  display: flex;
  align-items: center;
  column-gap: 100px;
}
.title{
  font-size: 50px;
  font-weight: 900;
  color: var(--color-bg);
}
.advantage{
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.advantageImg{
  padding: 35px;
  border-radius: 50%;
  background: var(--color-primary);
  position: relative;
}
.advantageInfo{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.advantageTitle{
  font-size: 25px;
  font-weight: 800;
  color: var(--color-bg);
}
.advantageText{
  font-size: 18px;
  color: var(--color-bg);
}
.circle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(80%);
  right: 0;
}